/*CSS de cadastros (usuário, item, devolução ou empréstimo)*/

.page-title {
  text-align: center;
}

.cadastro {
  color: black;
  padding: 0px 10px;
  min-width: 50%;
  max-width: 800px;
  margin: auto;
}

.cadastro-form {
  padding: 4px 2px;
  margin: 10px 0;
  display: table;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

input {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type="submit"] {
  display: block;
  background-color: #a3937d;
  transition: background-color 2s, letter-spacing 2s;
  margin-top: 5px;
}

input[type="submit"]:hover {
  background-color: #4a5e6b;
  letter-spacing: 3px;
}
