/*CSS da página de Login*/

body {
  text-align: center;
}

.login-form {
  display: block;
  font-size: 11px;
  padding: 4px 2px;
  margin: 10px 0;
}

input {
  font-family: "Lato", sans-serif;
  color:black;
  font-size: 14px;
  min-width: 20%;
  display: block;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;
}

input[type="submit"] {
  display: block;
  background-color: #a3937d;
  border: 1px solid;
  transition: background-color 2s, letter-spacing 2s;
}

input[type="submit"]:hover {
  background-color: #4a5e6b;
  letter-spacing: 3px
}