/*Importação de fontes*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chewy&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/*CSS principal*/

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }
  
.website-title {
  max-width: 300px;
  max-height: 300px;
  border: 2px dotted #4a5e6b;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition: border-radius 2s, opacity 2s;
}

.website-title:hover {
  opacity: 0.85;
  border-radius: 10%;
}

body {
  font-family: "Lato", sans-serif;
  color:black;
  font-size: 14px;
  margin: auto;
  width: 100%;
}

a {
  color:#588eb3;
  text-decoration: underline;
}

a:hover {
  color: #a3937d;
  text-decoration: underline dotted;
}

a.footer-url {
  color:black;
}


header {
  background-color: #a3937d;
  padding: 10px;
}

.page-title {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  margin: 10px;
}

.nav-center {
  text-align: center;
}

.menu {
  text-align: center;
  padding-top: 10px;
}

a.menu-item {
  color: #4a5e6b;
  padding: 0 10px;
  margin-right:30px;
  transition: letter-spacing 2s;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
}

a.menu-item:hover {
  letter-spacing: 3px;
  border: 1px dotted;
}

footer {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-align:center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  background-color: #a3937d;
  width: 100%;
  margin:auto;
}